<div>
	<div class="row">
	   <div class="col-md-8">
			<div class="card ">
				<div class="header">
					<h4 class="title">Liste des notes</h4>
					<p class="category">Consulter mes notes</p>
					<a href="#/gestionTaches/getAllNotes/{{id}}/ajoutNote" class="btn btn-info btn-fill pull-right btn-add"><i class="fa fa-plus"></i>
						Ajouter note
					</a>
					<br><br>
				</div>
				<div class="content">
					<div class="table-full-width">
						<table class="table table-hover">
							<thead>
								<tr>
								  <th>N° de note</th>
								  <th>Titre</th>                                   					
							  </tr>
                            </thead>
							<tbody>
								<tr ng-repeat="note in listeNotes">
										<td>{{note.id}}</td>
										<td>{{note.nom}}</td>
										<td class="td-actions text-right">
											<a  href="#/gestionTaches/getAllNotes/{{id}}/modifierNote/{{note.id}}" rel="tooltip" title="Modifier" class="btn btn-info btn-simple btn-s" value="Modifier" >  
												<i class="fa fa-edit"></i>
											</a>
											<a  href="#/gestionTaches/deleteNote/{{note.id}}" rel="tooltip" title="Supprimer" class="btn btn-danger btn-simple btn-s" value="Supprimer" ng-click="supprimerNote(note.id)" >
												<i class="fa fa-times"></i>
											</a>
											<a  href="#/gestionTaches/getAllNotes/{{id}}/voirNote/{{note.id}}" rel="tooltip" title="Voir" class="btn btn-info btn-simple btn-s" value="Voir">
												<i class="fa fa-search"></i>
											</a>
										</td>
								</tr>
							</tbody>
                         </table>
                    </div>

				</div>
			</div>
		</div>
		
	</div>
	