<div>
	<div class="row">
	   <div class="col-md-6">
			<div class="card ">
				<div class="header">
					<h4 class="title">Modifier une note</h4>
					<p class="category">Categorie</p>
				</div>
				<div class="content">
					<div class="form-group">
						<form novalidate>
							<label>Nom : </label>
							<input type="text" class="form-control" ng-model="note.nom"><br>
							<label>Texte : </label>
							<input type="text" class="form-control" ng-model="note.texte"><br>
							
							<input type="submit" class="btn btn-info btn-fill pull-right" ng-click="modifierNote(note)" value="Modifier" >	
						</form>

						Pour debuggage : {{note}}
						</div>
				</div>
	</div>
	</div>
</div>
